<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SendInventory.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SendInventory.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <SendInventory.My.MySettings>
            <setting name="MailTo" serializeAs="String">
                <value>reps@c2wireless.com</value>
            </setting>
            <setting name="MailBCC" serializeAs="String">
                <value>kng@c2wireless.com</value>
            </setting>
            <setting name="MailSubject" serializeAs="String">
                <value>INVENTORY</value>
            </setting>
            <setting name="MailBody" serializeAs="String">
                <value />
            </setting>
            <setting name="MailFromAddress" serializeAs="String">
                <value>kng@c2wireless.com</value>
            </setting>
            <setting name="MailFromName" serializeAs="String">
                <value>Inventory</value>
            </setting>
            <setting name="MailCC" serializeAs="String">
                <value>JSachdeva@c2wireless.com,ltram@c2wireless.com,jron@c2wireless.com,KHolmes@C2wireless.com,DMahaffey@C2wireless.com,MBriede@C2wireless.com,cdeltoro@c2wireless.com,tshek@c2wireless.com,sgarcia@c2wireless.com,wpaul@c2wireless.com</value>
            </setting>
        </SendInventory.My.MySettings>
    </userSettings>
  <system.diagnostics>
    <switches>
       <add name="Remote.Disable" value="1" />
    </switches>
  </system.diagnostics>
  <applicationSettings>
    <SendInventory.My.MySettings>
      <setting name="SendInventory_com_netsuite_webservices_NetSuiteService"
        serializeAs="String">
        <value>https://webservices.netsuite.com/services/NetSuitePort_2018_1</value>
      </setting>
    </SendInventory.My.MySettings>
  </applicationSettings>
</configuration>
